@import "tailwindcss";

@theme {
  --font-cinzel: var(--font-cinzel);
  --font-poppins: var(--font-poppins);
  --color-primary: #c07b45;
  --color-primary-hover: #a66432;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-cinzel), serif;
  }
  p {
    font-family: var(--font-poppins), sans-serif;
  }
}
